#!/bin/bash

set -e

# Ask Odoo to give us a backup zip
# It should contain:
# - dump.sql
# - filestore/
# - manifest.json

echo "
## Ask localhost odoo to compile a backup of itself ##
"
date | tee /dev/fd/2

curl -X POST \
  -F "name={{ odoo_role_odoo_db_name }}" \
  -F "master_pwd={{ odoo_role_odoo_db_admin_password }}" \
  -F "backup_format=zip" \
  -o "{{ backups_role_tmp_path }}/odoo-backup.zip" \
  --silent --verbose \
  http://localhost:8069/web/database/backup

echo "...done"
